<body>
  <h1>Bienvenue chez JACKY TUNING</h1>
  <h2>Spécialiste de la customisation de père en fils<h2>
  <br />
  <div>
    <p><a href="/login">Se connecter</a></p>
    <p><a href="/signup">S'inscrire</a></p>
  </div>
  <br />
</body>
