<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page TP2</title>
  <link rel="stylesheet" type="text/css" href="./style.css">
  <script src="tp2.js"></script>
</head>
<body onload="onLoaded()">
  <ul>
    <li><a href="http://www.societe-informatique-de-france.fr/feed/">La SIF</a></li>
    <li><a href="http://filuns.unice.fr/accueil/@@rss_view">L'université Nice Sophia-Antipolis</a></li>
    <li><a href="http://pro.clubic.com/actualites.rss.">les actualités pro de Clubic</a></li>
  </ul>
</body>

</html>
